/*-----[ interview ]------------------------------------------------------------
| Styles for the interview question.
*/
#photo-search {
  padding: $section-spacing $gutter-width;

  $button-height: $body-text-size + 2 * $vertical-nudge;

  form.search {
    .field {
      text-align: center;
    }

    input.search-field,
    button.search {
      vertical-align: top;
    }

    input.search-field {
      border-color: $light-stroke;
      padding: ($vertical-nudge - 1) $horizontal-nudge;
      width: 40%;
      height: $button-height;

      font-size: $body-text-size;
      line-height: $body-text-size;

      @include placeholder-text {
        line-height: $button-height - 2;
      }
      @include border-left-radius($button-border-radius);
      @include box-sizing(border-box);
    }

    button.search {
      margin-left: -1px;
      height: $button-height;

      line-height: $button-height;

      @include border-left-radius(0);


      .search-icon,
      .spinner {
        &:before {
          position: relative;
          top: -4px;
        }
      }

      .search-icon:before {
        font-size: $body-text-size;
        line-height: $button-height;

        @extend .fa-search;
        @include fa-icon();
      }

      .spinner {
        @include pulse;

        &:before {
          font-size: $body-text-size;
          line-height: $button-height;

          @extend .fa-spinner;
          @include fa-icon();
        }
      }
    }
  }

  #results {
    margin-top: $section-spacing;

    header {
      margin-bottom: $section-spacing;

      text-align: center;
    }

    .search-string {
      color: $secondary-text-color;

      font-style: italic;
    }
  }

  // Insert custom styles here…
}
